<header class="header header-library">
  <div class="container">
    <a href="../src/index.html">
      <div class="header__logo">
        <svg class="header__logo--film" width="24px" height="22.85px">
          <use xlink:href="./images/svg/header-icon.svg#filmoteka"></use>
        </svg>
        <span class="header__logo--span">Filmoteka</span>
      </div>
      </a>

    <div class="header__buttons">
      <span class="header__button">
        <a href="../src/index.html">Home</a></span>
      <span class="header__button header__button--active">
        <a href="../src/library.html">my library</a></span>
      </div>
      
    <div class="library-buttons">
      <button class="library-button">Watched</button>
      <button class="library-button">Queue</button>
    </div>
  </div>
</header>
