<header class="header container">
  <div class="header__logo">
    <svg class="header__logo--film" width="24px" height="22.85px">
      <use xlink:href="./images/svg/header-icon.svg#filmoteka"></use>
    </svg>
    <span class="header__logo--span">Filmoteka</span>
  </div>
  <div class="header__search">
    <input id="search" class="header__search--input" placeholder="Movie search" />
    <button id="button">
      <svg class="header__search--search" width="20px" height="20px">
        <use xlink:href="./images/svg/search.svg#search"></use>
      </svg>
    </button>
  </div>
  <div class="header__buttons">
    <span class="header__button">Home</span>
    <span class="header__button">my library</span>
  </div>
</header>
