/* RESET
============================================= */
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
a,
p,
span,
figure {
  margin: 0;
  padding: 0;
  padding-inline-start: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  list-style-type: none;
  text-decoration: none;
  user-select: none;
}

/* BODY
============================================= */

* {
  font-family: 'Nunito', sans-serif;
  font-family: 'Roboto', sans-serif;
}
body {
  height: 100%;
}
.container {
  width: 100%;
  margin: 0 auto;
}
// // responsywność dla ekranów o maksymalnej szerokości 768px
// @media screen and (min-width: 768px) {
//   .container {
//   }
// }

// // responsywność dla ekranów o maksymalnej szerokości 1280px
// @media screen and (min-width: 1280px) {
//   .container {
//   }
// }
.flex {
    display: flex;
}