.search-button {
    background: $white;
    height: 40px;
    border-radius: 4px;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.31;
    text-align: center;
    color: getColor(sky);
    border: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 16px;
    transition: background-color $transition-time-timing;


    &:hover {
        cursor: pointer;
        background: #ECEBEB;
    }

    &__icon {
        margin-left: 16px;
        fill: getColor(sky);
        stroke: getColor(sky);
    }
}