.footer {
  position: absolute;
  height: 77px;
  background: $footer-background;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 40px;

  &__span {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #545454;
    position: relative;

    @include tablet-and-desktop {
      display: flex;
    }
  }
&__text {
  margin: 10px 5px;
}
  &__svg {
    margin: 0 10px;
    
  }
}