.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 216px;
  background-image: url('../images/header/header-background-mobile@1x.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  padding: 40px 20px;
  // inne style
  &-library {
    background-image: url('../images/header/header-background-library-mobile@1x.jpg');
  }
  &__logo {
    display: flex;
    align-items: flex-start;
    gap: 12px;
    position: absolute;
    left: 20px;
    top: 40px;
    &--film {
      width: 24px;
      height: 22.85px;
      fill: transparent;
      margin-top: 5px;
    }
    &--span {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 500;
      font-size: 30px;
      line-height: 35px;
      display: none;
      align-items: center;
      text-align: center;
      color: $white;
    }
  }
  &__buttons {
    position: absolute;
    right: 20px;
    top: 50px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    display: flex;
    gap: 40px;
    color: $white;
  }
  &__search {
    width: 320px;
    border-bottom: 0.5px solid #ffffff;
    display: flex;
    align-items: center;
    height: 20px;
    margin-top: 55px;
    margin-left: auto;
    margin-right: auto;
    &--input {
      width: 100%;
      background: transparent;
      outline: none;
      border: none;
      padding: 0;
      color: $white;
    }
    &--search {
      width: 12px;
      height: 12px;
      fill: transparent;
    }
  }
}
@media screen and (min-width: 768px) {
  .header {
    background-image: url('../images/header/header-background-tablet@1x.jpg');
    &__logo--span {
      display: flex;
    }
    &__search {
      width: 394px;
    }
    &-library {
      background-image: url('../images/header/header-background-library-tablet@1x.jpg');
    }
  }
}
@media screen and (min-width: 768px),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi) {
  .header {
    background-image: url('../images/header/header-background-tablet@2x.jpg');
    &-library {
      background-image: url('../images/header/header-background-library-tablet@2x.jpg');
    }
  }
}
@media screen and (min-width: 1280px) {
  .header {
    background-image: url('../images/header/header-background@1x.jpg');
    &-library {
      background-image: url('../images/header/header-background-library-desktop@1x.jpg');
    }
  }
}
@media screen and (min-width: 1280px),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi) {
  .header {
    background-image: url('../images/header/header-background@2x.jpg');
    &-library {
      background-image: url('../images/header/header-background-library-desktop@2x.jpg');
    }
  }
}

@media screen and (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi) {
  .header {
    background-image: url('../images/header/header-background-mobile@2x.jpg');
    &-library {
      background-image: url('../images/header/header-background-library-mobile@2x.jpg');
    }
  }
}

.library-buttons {
  display: flex;
  justify-content: center;
}

.library-button {
  background-color: transparent;
  border-color: #ffffff;
  color: #ffffff;

  padding-top: 14px;
  padding-right: 36px;
  padding-bottom: 12px;
  padding-left: 36px;
  min-width: 130px;
  line-height: 1.33;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;

  &:hover {
    background-color: #ff6b01;
  }
}

a:link {
  text-decoration: none;
  color: #ffffff;
}

a:visited {
  color: #ffffff;
}
