.loader {
    margin-top: 3%;
    margin-left: auto;
    margin-right: auto;
    border: 20px solid #EAF0F6;
    border-radius: 50%;
    border-top: 20px solid #FF7A59;
    width: 200px;
    height: 200px;
    animation: spinner 4s linear infinite;
}

@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}